# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\vektorel_egitim_dersler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
